.bestseller {
  /* height: 100vh; */
  margin-top: 7vh;
  padding: 0 2vw;
}

.cards {
  /* background-color: rgb(170, 118, 118); */
  /* width: 90vw; */
  display: flex;
  flex-wrap: wrap;
  /* gap: 3vw; */
  column-gap: 7vh;
  row-gap: 6vh;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.cards .card {
  width: 18vw;
  height: 60vh;
  /* height: 50vh; */
  background-color: #f3e8d9;
  border-radius: 7%;
  /* transition: all 0.3s ease; */
  transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease , scale 0.3s ease;
    position: relative;
  overflow: hidden;
  cursor: pointer;
}

.cards .card img {
  /* width: 20vw; */
  width: 100%;
  /* height: 38vh; */
  height: 46vh;
  object-fit: cover;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  transition: all 0.3s ease;
}

.cards .card .cardHeading h3 {
  font-size: 1.4vw;
  font-weight: 300;
  margin: 0;
  padding-top: 2vh;
  padding-left: 2vh;
}
.cards .card .price {
  display: flex;
  gap: 0.15vw;
  align-items: center;
  /* padding-top: 1.2vh; */
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  /* border-bottom: 1px solid black; */
}
.cards .card .price h4 {
  font-size: 1.3vw;
  font-weight: 100;
  margin: 0;
}
.cards .card .price svg {
  width: 1vw;
  height: 2vh;
  opacity: 0.8;
}
.cards .card:hover{
  scale:1.02;
}


/****************************************/
.cards .card:hover {
  box-shadow: 0.6rem 0.6rem 0.6rem rgba(255, 215, 100, 0.3);
  /* box-shadow: 0 0 25px rgba(255, 215, 100, 0.3); */
  border-color: #d6c27c; /* soft gold border */
}

.cards .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 30%;
  height: 80%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.05) 100%
  );
  transform: skewX(-25deg);
  transition: left 0.6s ease;
  /* overflow: hidden; */
}

.cards .card:hover::after {
  left: 90%;
}