.contact {
  /* height: 200vh; */
  margin-top: 7vh;
  padding: 0 2vw;
}

.contactCard {
  width: 30rem;
  height: 40rem;
  background-color: #f3e8d9;
  border-radius: 2vh;
  margin: 7vh auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 0;

  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  overflow: hidden;
}

.contactCardLogo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #FCEFEF;
  /* margin: 0 auto; */
  /* transform: translateX(-50%); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactCardLogo img {
  height: 6vh;
  width: 3vw;
  transition: all 0.3s ease;
}

.contactCardHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactCardHeading h1 {
  margin: 1vh 0;
  font-size: 2.5rem;
}

.contactCardHeading h3 {
  margin-top: 0;
  width: 60%;

  text-align: center;
}

.makingLogo {
  margin: 3vh 0;
}
.makingLogo svg {
  scale: 1.3;
  transition: all 0.3s ease;
}

.socials {
  margin: 3vh 0;
  /* background-color: #e8d2b5; */
  width: 10vw;
  display: flex;
  align-items: center;
  gap: 2vw;
  justify-content: center;
}

.socials svg {
  scale: 1.2;
  transition: all 0.3s ease;

}

.contactCardEnd h3 {
  margin: 1vh 0;
  font-family: "Cormorant Garamond", serif;
  opacity: 0.8;
}


/******************Effects ************************/

.contactCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.socials svg:hover  {
  scale: 1.4;
}
.contactCard:hover .makingLogo svg {
  scale: 1.4;
}
.contactCard:hover .contactCardLogo img {
  scale: 1.02;
}


.contactCard::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.05) 100%
  );
  transform: skewX(-25deg);
  transition: left 0.8s ease;
}

.contactCard:hover::after {
  left: 100%;
}
