.footer{
    height: 28vh;
    /* width: 100%; */
  margin-top: 12vh;
  padding: 0 2vw;
  /* padding-left: 7vw; */
  /* display: grid;
  grid-template-columns:23%   23%   23%   23% ;
  grid-template-rows: 70% 30%; */
  background-color: #f3e8d9;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* .footer .section{
  border: 0.7px solid black;

} */


.footer .footerBG svg{
  position: absolute;
}

#tractor-up{
    left: 91%;
    top: 10%;
}
#camel-up{

    left: 55%;
    top: 24%;
}
#man-up{
    left: 65%;
    top: 72%;
}
#woman-up{
      left: 46%;
    top: 78%;
}
#scarecrow-up{
left: 2%;
    top: 72%;
}
#tractor-down{
  left: 25%;
    top: 35%;

}
#camel-down{
  left: 92%;
    top: 72%;
}
#man-down{
   left: 10%;
    top: 31%;
}
#scarecrow-down{
  left: 34%;
    top: 2%;
}
#windmill{
    left: 16%;
    top: 70%;
}
#windmill2{
    left: 74%;
    top: 40%;
}




.footerContent{
  height: 100%;
  width: 100%;
   display: flex;
  justify-content: space-between;
}
.footer .sectionHeading h3{
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0;
  margin-top: 2vh;
}

.footer .sectionContent h5{
    margin: 0.5vh;
    font-weight: 400;
    font-size: 2vh;
} 

.footer .sectionHeading h6{
    font-size: 1.8vh;
    font-weight: 400;
    margin-bottom: 0;
     margin-top: 2vh;
}

.connect{
    margin-top: 2vh;
    padding-left:0.4vw ;
    display: flex;
    gap: 1rem;
}

.socialConnect{
    margin-top: 1.5vh;
    padding-left:0.4vw ;
    display: flex;
    gap: 1rem;
}

.socialConnect svg{
    scale: 1.5;
}

